<tr>
  <td>
    <%= sale.name %>
  </td>
  <td>
    <%= sale.starts_on %>
  </td>
  <td>
    <%= sale.ends_on %>
  </td>
    <% if sale.finished? %>
      <td class="table-danger">
        <span>Finished</span>
      </td>
    <% elsif sale.upcoming? %>
      <td class="table-warning">
        <span>Upcoming</span>
      </td>
    <% else %>
      <td class="table-success">
        <span>Active</span>
      </td>
    <% end %>
  </td>
  <td>
    <%= sale.percent_off %>
  </td>
<tr>