<div class="alert alert-warning">
  <a href="./" class="nav-link px-2 text-muted">
    <strong>Your cart is currently empty.</strong><br>
    Please click this message to return to the home page to view our products.
  </a>
</div>