<section class="admin-categories-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="panel panel-default categories w-50">
    <table class="table table-bordered table-striped table-success">
      <thead class="table-dark">
        <tr>
          <th>Category</th>
          <th class="text-end">Number of Products</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
  </div>

</section>
