<section class="admin-about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="panel panel-default">
    <h2 class="">Family Owned & Operated</h2>
    <p class="">What started as a simple hobby carried out in a garage has since grown and blossomed into Jungle, Inc.!</p> 
    <p class="">Our family is proud to provide Canada with an array of beautiful plants. Whether you’re looking for the latest trending houseplant or are wanting to spruce up your garden, we've got just the plants to help you grow.</p>
  </div>

</section>